html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: Arial, helvatica;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	font-size:13px;
	background:#fff;
	background: url(../images/leftbg.png) 0 0 repeat-y;
}
body.login-page {background:#fff;}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
img{max-width:100%;}
blockquote, q {
	quotes: "" "";
}
p{
	margin:0 0 15px;
}
h1, h2, h3, h4, h4{
	margin:0 0 15px;
}
a{
	color:#333;
	text-decoration:none;
}
.clearfix
{
	clear: both;
}
strong{
	font-weight:bold;
}
.left{float:left;}
.right{float:right;}
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}
.hidden{
	display:none;
}
input[type=button],
input[type=submit],
.button {

    background-color: #0076a3;
    text-indent: 0;
    border: 2px solid #0076a3;
    display: inline-block;
    color: #fff;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    height: 35px;
    line-height: 30px;
    padding: 0 25px;
    cursor: pointer;
    box-shadow: 0 0 0 1px #509fbd inset;
	text-transform: uppercase;
	text-decoration:none;
	text-align:center;
	transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
}
a.button {height: auto;}
input[type=button]:focus,
input[type=submit]:focus,
.button:active {
	position:relative;
	top:1px;
}
.button.small {
	height:28px;
	line-height:28px;
	padding:0 15px;
}
.button.large {
	font-size:14px;
	height:50px;
	line-height:45px;
	padding:0 40px;
}
input[type=button]:hover,
input[type=submit]:hover,
.button:hover {
	border-color:#015a7b;
	background-color:#015a7b;
}
input[type=button].black-btn,
input[type=submit].black-btn,
.button.black-btn
{
	background-color:#000;
	border:2px solid #000;
	color:#fff;
	box-shadow:0 0 0 1px #444 inset;
}
input[type=button].black-btn:hover,
input[type=submit].black-btn:hover,
.button.black-btn:hover {
	border-color:#000;
	background-color:#2b2b2b;
}

input[type=button].orange-btn,
input[type=submit].orange-btn,
.button.orange-btn
{
	background-color: #fc6318;
	border: 2px solid #fc6318;
	color: #fff;
	box-shadow: 0 0 0 1px #eaad8f inset;
}
input[type=button].orange-btn:hover,
input[type=submit].orange-btn:hover,
.button.orange-btn:hover
{
	background-color: #d64600;
    border: 2px solid #d64600;
}
input[type=checkbox]{
	background:#fff;
	margin:0 5px 0 0;
	border:1px solid #999;
	border-radius:3px;
	box-shadow: 1px 1px 2px #bbb inset;
}
.select{
	display:block;
	width:100%;
	padding:8px 0;
	text-indent:10px;
	background:#fff;
	max-width:450px;
	border:1px solid #999;
	border-radius:3px;
	box-shadow: 1px 1px 2px #bbb inset;
	font-size:13px;
}
input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
textarea{
	display:block;
	width:100%;
	padding:8px 0;
	text-indent:10px;
	background:#fff;
	border:1px solid #999;
	box-shadow: 2px 2px 4px #f0f0f0 inset;
	font-size:13px;
}
textarea{
	height:75px;
}
.error
{
	border-color:#f00 !important;
}
form {
	border:1px solid #bbb;
	/*box-shadow:1px 2px 5px 0 #999;*/
	border-radius: 10px;
}
fieldset {
	padding:20px;
}
fieldset legend {
	background: none repeat scroll 0 0 #0076a3;
	display: block;
	font-size: 13px;
	margin: 0 -20px;
	padding: 13px 20px;
	color:#fff;
	text-transform: uppercase;
	width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
fieldset .field, .field {
	display:block;
	margin:0 0 15px;
}
fieldset .field label, .field label{
	margin:0 0 5px;
	font-weight:normal;
	font-size:12px;
	text-transform: uppercase;
}
fieldset .field label.error,
label.error{
	color:#f00;
	margin:5px 0 0;
}
.field-element {
    margin-top: 5px;
}
header{
	float: left; width: 195px;
}
.logo img {
	margin: 2px auto 10px;
	display: block;
}
header .logo img{
	display:block;
	margin: 0;
	padding: 20px 10px;
}
#nav {
}
#nav ul{
	display:block;
	list-style:none;
}
#nav li{
	display:block;
	position:relative;
}
#nav li span{
	display:block;
	padding: 0 10px;
	margin: 0 0 10px;
	color:#0076a3;
	font-size:14px;
}
#nav li a{
	padding:0 10px;
	color:#fff;
	text-decoration:none;
	line-height:30px;
	font-size:13px;
	font-weight:normal;
	display:block;
}
#nav li a:hover,
#nav li.Selected a,
#nav li a.Selected{
	background:#fc6318;
}
.wrapper{
	min-height:650px;
	padding:10px 30px 10px 10px;
	position:relative;
	z-index:0;
	margin-left: 220px;
}
.title-row{
	display:block;
	margin:0 0 15px;
	border-bottom:1px solid #666;
}
.title-row .title {
  font-size: 22px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
}
.title-row .title1{
	font-size:22px;
	line-height:1.3;
}
.title-row .title-btn {
  float: right;
  line-height: 25px;
  margin: 5px 5px 0;
  padding: 0 15px;
}
.top-bar{
	margin:-30px -30px 0;
	padding:15px 0 15px 30px;
	background:#e5e5e5;
	border-bottom-color:#ccc;
}
.top-bar .title{
	font-size:22px;
	line-height:1;
}
.top-bar  .title-btn{
	margin:-2px 10px 0 0;
}
.content-area{
	padding:30px;
}
.dtable{
	border:0px solid #ccc;
	width:100%;
	/*box-shadow:0px 0px 1px 2px #666666;*/
	box-shadow:0px 0px 0px 1px #bbb;
}
.dtable thead tr{
	background:#e5e5e5;
}
.dtable tr{
	background:#f5f5f5;
}
.dtable tr:nth-child(2n){
	background:#fff;
}
.dtable tr.tblrow1
{
	background:#fff;
}
.dtable tr.tblrow2
{
	background:#FCF9F9;
}
.dtable th{
	padding:15px 15px;
	border-bottom:1px solid #bbb;
	font-weight:bold;
	text-transform:uppercase;
}
.dtable td{
	padding:15px 15px;
	border-bottom:1px solid #e5e5e5;
	vertical-align:middle;
}
.login{
	position: absolute;
	top: 50%;
	left: 50%;
	display:block;
	width:400px;
	margin:-150px 0 0 -200px;
}
.dtable tr:hover{
	background:#f0f0f0;
}
.dtable tr.tblrow1:hover,
.dtable tr.tblrow2:hover{
	background:#FFFFE9;
}
.edit{
	background:url(../images/edit.png) 50% 50% no-repeat;
	width:20px; height: 20px;
	text-indent: -999em; overflow: hidden;
	font-weight:bold;
	display:block;
	float:left;
	margin-right:10px;
	margin-top:2px;
}
.graph{
	background:url(../images/graphs.png) 50% 50% no-repeat;
	width:20px; height: 21px;
	text-indent: -999em; overflow: hidden;
	font-weight:bold;
	display:block;
	float:left;
	margin-right:10px;
}
.download{
	background:url(../images/download-icon.png) 50% 50% no-repeat;
	width:20px; 
	height: 20px;
	text-indent: -999em; 
	overflow: hidden;
	font-weight:bold;
	display:block;
	float:left;
	margin-right:10px;
	margin-top:2px;
}
.upload-on-s3{
	background:url(../images/upload-on-s3.png) 50% 50% no-repeat;
	width:20px; 
	height: 14px;
	text-indent: -999em; 
	overflow: hidden;
	font-weight:bold;
	display:block;
	float:left;
	margin-right:10px;
	margin-top:2px;
}

.event_link{
	background:url(../images/gear.png) 50% 50% no-repeat;
	width:20px; height: 20px;
	text-indent: -999em; overflow: hidden;
	font-weight:bold;
	display:block;
	float:left;
	margin-right:15px;
	line-height:16px;
}
.button.edit{
	padding-left:38px;
	background-position:15px 50%;
}
.view{
	background:url(../images/view.png) 50% 50% no-repeat;
	width:20px; height: 20px;
	text-indent: -999em; overflow: hidden;
	font-weight:bold;
	display:block;
	float:left;
	margin-right:15px;
	line-height:16px;
}
.thumb{
	display:block;
	height:40px;
	background:#ddd;
	width:50px;
	float:left;
	margin:0;
	overflow:hidden;
}
.thumb img{
	margin-top:-5px;
}
.delete{
	background:url(../images/delete.png) 50% 50% no-repeat;
	width:20px; height: 20px;
	text-indent: -999em; overflow: hidden;
	display:block;
	float:left;
	font-weight:bold;
	color:#f00;
	margin-right:0;
	margin-top:2px;
}
.add{
	background:url(../images/plus.jpg) 50% 50% no-repeat;
	width:20px; height: 20px;
	text-indent: -999em; overflow: hidden;
	display:block;
	float:right;
	font-weight:bold;
	color:black;
	margin-right:15px;
	line-height:16px;
}
.add1{
	background: url(../images/csv_export.png) 0 50% no-repeat;
	padding-left: 20px;
	display: block;
	float: right;
	font-weight: bold;
	color: black;
	margin-right: 15px;
	line-height: 16px;
}
.colset{
	position:relative;
}
.event-detail{
	margin:0 -30px -30px;
}
.colset .col-sidebar{
	background:#f0f0f0;
	box-shadow: -5px 5px 5px #bbb inset;
	top:0;
	left:0;
	bottom:0;
	padding:30px;
	overflow:auto;
	position:absolute;
	width:140px;
}
.colset .col-main{
	margin-left:200px;
}
.content-area{
	background:#fff;
	overflow:hidden;
	margin-left:0;
	min-height:650px;
}


.login-page form
{
	background-color: #fcc062;
	border: 0;
	border-radius: 10px;
	color: #fff;
	letter-spacing: 1px;
}
.login-page form label
{
	color: #fff;
	letter-spacing: 1px;
}
.login-page input[type=button],
.login-page input[type=submit],
.login-page .button
{
	background: #fff;
	border-color: #fff;
	box-shadow: none;
	color: #333;
	letter-spacing: 2px;
}

#footer{
	/*float: left;*/
	padding: 10px;
	clear: both;
}
#footer .credits{
	font-size:13px;
	font-weight:bold;
	text-align: left;
}
#footer .credits a{text-decoration:none; color:#fff;}
#footer .credits a span{border-bottom:1px solid #05f; color:#05f;}
#msg-flash,
ul.error-msg-list
{
	background: none repeat scroll 0 0 #eeeebb;
	border: 1px solid #cccc99;
	font-size: 14px;
	margin: 0 0 15px 195px;
	padding: 15px 30px;
	border: none;
	letter-spacing: 1px;
}
#msg-flash.success,
ul.error-msg-list.success
{
	background: none repeat scroll 0 0 #99C299;
	/*border: 1px solid #006600;*/
	color:#006600;
}
#msg-flash.error,
ul.error-msg-list.error
{
	background: none repeat scroll 0 0 #FFCCCC;
	/*border: 1px solid #0A0;*/
	color:#CC0000;
}
#msg-flash p:last-child
{
	margin-bottom:0;
	padding-bottom:0;
}
.note p{
	margin:0;
}
.failure_message
{
	background: none repeat scroll 0 0 #EEBBBB;
	border: 1px solid #CC9999;
}
.failure_message h2
{
	background: none repeat scroll 0 0 #EEBBBB;
	border: 1px solid #CC9999;
}

fieldset.Normal
{
	border:1px solid #999;
	margin-bottom:10px;
}
fieldset.Normal legend {
	background: none;
	display: block;
	font-size: 13px;
	font-weight: bold;
	margin: 0 -10px;
	padding: 0 5px;
	text-shadow: 0 0 0 #000000;
	color:#334C80;
	text-transform: uppercase;
	width: auto;
}
.MarginLeft
{
	margin-left:5px;
}
.MarginLeft15
{
	margin-left:15px;
}
.MarginRight15
{
	margin-right:15px;
}
a.forgot-password-link,
a.forgot-password-login
{
	font-size: 12px;
    color: #fff;
    text-align: right;
    float: right;
    text-decoration: none;
    margin-top: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
a.forgot-password-link:hover,
a.forgot-password-login:hover
{
	text-decoration: underline;
}
.forgot-password
{
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	width: 400px;
	margin: -150px 0 0 -200px;
}
input[type=text].loading-bg,
input[type=email].loading-bg,
input[type=tel].loading-bg,
input[type=number].loading-bg,
input[type=password].loading-bg,
textarea.loading-bg,
.loading-bg
{
	background: #fff url("../images/loader.gif") right center no-repeat
}
.column-style-fields .field
{
	display: block;
	float: none;
	clear: both;
}
.column-style-fields .field label
{
	float: left;
	width: 250px;
	padding: 12px 10px 11px;
	text-align: right;
	background-color: #E5DFDF;
	margin-right: 10px;
	box-shadow: 2px 2px 2px #CACACA;
}
.column-style-fields .field a,
.column-style-fields .field .single-line
{
	float: left;
	width: 100%;
	padding: 10px 0;
	text-indent: 10px;
	max-width: 450px;
	border: 1px solid #999;
	box-shadow: 2px 2px 4px #f0f0f0 inset;
	font-size: 13px;
	color: #000;
}
.column-style-fields .field .single-line.no-border
{
	border: 0;
}
.textbox-textarea-text-indent input[type='text'],
.textbox-textarea-text-indent input[type='email'],
.textbox-textarea-text-indent input[type='password'],
.textbox-textarea-text-indent textarea
{
	text-indent: 0 !important;
}
ul.error-msg-list
{
	background: none repeat scroll 0 0 #eeeebb;
	border: 1px solid #cccc99;
	font-size: 14px;
	margin: 0 0 5px 195px;
	padding: 15px 30px;
	border: none;
	list-style: disc;
}
ul.error-msg-list.success
{
	background: none repeat scroll 0 0 #99C299;
	color:#006600;
}
ul.error-msg-list.error
{
	background: none repeat scroll 0 0 #FFCCCC;
	color:#CC0000;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 15px;
}
.row:before,
.row:after
{
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
}
.row:after
{
	clear: both;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
.sidebar-wrapper
{/*
	border: 1px solid #bbb;
	padding: 20px;*/
	    border: 1px solid #e0e0e0;
    background: #f8f8f8;
	padding: 30px;
	padding-bottom: 6px;
    margin-bottom: 10px;
}
select
{
	height: 30px;
	line-height: 30px;
	width: 100%;
	max-width: 100%;
}
li.accordion-section
{
	border: 1px solid #bbb;
}
.menu-settings-list li.accordion-section
{
	border-bottom: 0;
}
li.accordion-section.closed .accordion-section-content
{
	display: none;
}
li.accordion-section:last-child
{
	border-bottom: 1px solid #bbb;
}
.section-title
{
	padding: 8px;
	position: relative;
	word-wrap: break-word;
}
.accordion-section .section-title .ionicons:after
{
	content: "\f104";
	display: inline-block;
	position: absolute;
    right: 16px;
    top: 13px;
    font-size: 14px;
}
.accordion-section.closed .section-title .ionicons:after
{
	content: "\f10d";
}
.accordion-section-content
{
	border-top: 1px solid #bbb;
	padding: 15px;
}
.accordion-section-content:after {
    clear: both;
    content: "";
    display: block;
}
.parent-menu-items-list-wrapper li.accordion-section
{
	margin-bottom: 10px;
}
.parent-menu-items-list-wrapper li.accordion-section .item-title
{
    padding-right: 150px;
    display: block;
}
.parent-menu-items-list-wrapper li.accordion-section .section-title
{
	padding-bottom: 2px;
}
.parent-menu-items-list-wrapper li.accordion-section .item-type
{
    position: absolute;
    top: 13px;
    right: 40px;
}
a.remove-menu-item 
{
    color: red;
}
.no-border
{
	border: 0;
}
.tab-groups
{
	border:1px solid #bbb;
	border-radius: 10px;	
}
.home_curr_bg_image img
{
	width: 300px; 
}
.red
{
	color: red;
}

/*****Bootstrap type label******/
.label:empty {
  display: none;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-default {
  background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
/*****Bootstrap type labels******/

.form {
	display: block;
	font-size: 18px;
}
.form .field {
	display: block;
	margin: 0 0 25px;
	position: relative;
	padding-top: 20px;
}
.form .field.action {
	padding: 0;
}
.field.input:after,
.field.input:after,
.field.input:after {
	content: " ";
	position: absolute;
	z-index: 0;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0%;
	background-color: #37a3eb;
	transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4 ease-in-out 0s;
}
.field.input.focus:after,
.field.input.focus:after,
.field.input.focus:after {
	width: 100%;
}
input.text:invalid {
  box-shadow: none;
}
.select.multiple {
  height: 213px;
}
.form .field label {
	position: absolute;
	z-index: 1;
	top: 18px;
	left: 0;
	display: block;
	line-height: 35px;
	width: 100%;
	transition: all 0.1s ease-in-out 0s;
	-webkit-transition: all 0.1s ease-in-out 0s;
}
.form .field.radio {
	padding: 0;
}
.form .field.radio label {
	position: relative;
    padding: 0 0 5px;
    top: 0;
    left: 0;
    /* display: block; */
    /* line-height: 20px; */
    font-size: 11px;
    text-transform: none;
    font-weight: bold;
}
.form .field.radio label.inline-radio {
	float: left;
	width: auto;
	margin-right: 20px;
}
.form .field.radio label input {
	margin: 0px 5px 0 0;
	position: relative;
	top: 2px;
}
.form .field label,
.form .field.keep-focus label {
	top: 5px;
	font-size: 13px;
	line-height: 1.2;
	font-weight: bold;
	color: #000;
}
.form-action {
    border: 1px solid #e0e0e0;
    background: #f8f8f8;
    padding: 28px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-bottom: 8px;
}
.form-action.left {
	margin-right: 50px;
	margin-left: 0;
}
.form-action .text{
	background: none;
}
.form-action .action {
	margin: 0;
}
.section-title{
padding:0px;
	color: #000;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.shifts {
    margin: 38px 0;
    padding: 0;
}
p.gen-avlbl {
    font-size: 17px;
    font-weight: 700;
}
.schedule {
    margin-top: 29px;
}
.schedule {
    width: 100%;
}


.uplod-img {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.uplod-img #profileimage {
    flex-shrink: 0;

}

select.multiple{
	height:auto;
}

ul.week {
    width: 13%;
}
.schedule ul {
    display: inline-block;
}

li.a-title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 23px;
}

ul.week li p {
    font-size: 14px;
    color: #e1e1e1;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.week input[type=checkbox ]:checked + label {
    color: black;
}


.form-prt p {
    margin: 0;
}
.half-prt {
    width: 100%;
}
.half-prt {
    display: inline-flex;
}

.blk input {
    border: 1px solid #000;
    color: #000;
}
.half-prt input {
    width: 50%;
}

.half-prt input:nth-child(2) {
      margin-left: 19px;
}
.blk input {
    border: 1px solid #000;
    color: #000;
}
.half-prt input {
    width: 50%;
}

.crd-dtl input:nth-child(1) {
    width: 47%;
}
p.crd-dtl input {
    margin-bottom: 0;
}
.crd-dtl input:nth-child(2) {
    width: 20%;
    margin-left:20px;
}
.crd-dtl input:nth-child(3) {
    width: 20%;
    margin-left: 18px;
}
.about-u {
    margin-top: 15px;
}

.botm-btn {
    margin-bottom: 150px;
}
.botm-btn .sin-btn.anothr-por {
    margin-bottom: 99px;
    margin-top: 0px;
}
.botm-btn .sin-btn {
    width: 100%;
}
.sin-btn.anothr-por a {
    background: #f1d7a5;
    /* width: 100%; */
    /* text-align: center; */
    /* padding: 9px 84px; */
    /* display: block; */
    /* margin-top: 30px; */
    border-radius: 4px;
    color: #fff;
}
.sin-btn a {
    background: #e95922;
    /* width: 100%; */
    text-align: center;
    padding: 9px 20px;
    display: block;
    margin-top: 30px;
    border-radius: 4px;
    color: #fff;
    text-transform: capitalize;
}

.form-prt input {
    
    padding: 8px 0;
    margin-bottom: 10px;
  
    padding-right:10px;
   
    text-transform: capitalize;
}

.crd-dtl input{
   display:inline!important;
}
.experience{
	    margin-top: 19px;
}